.dropbtn {
    background-color: #577399;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 3vh;
    padding-top: 0.5%;
    height: 38px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    width: 100%;
  }
  
  .dropdown-content p {
    color: black;
    padding: 7px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content p:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #6987b3;
    border-radius: 3vh 3vh 0 0;
  }