:root {
    --gray-blue: #495867;
    --dark-blue: #577399;
    --light-blue: #BDD5EA;
    --white-ish: #F7F7FF;
}
.container {
    margin-top: 10px;
}
.autorName {
    width: 170px;
    height: 18px;
    margin: 18px;
    color: #495867;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}