.busAdmin{
    min-height: 87%;
    display: flex;
    flex-direction: column;
}
.cuerpo0{
    width: 99%;
    margin: 1% auto;
    border: 2px #495867 solid;
    height: 20%;
}
.cuerpo1{
    width: 95%;
    margin: 0 auto;
}
.cuerpo2{
    width: 95%;
    margin: 0 auto;
}
.cuerpo3{
    margin-top: 1%;
    margin-bottom: 1%;
}