.contPrincipal{
    background-color: #495867;
    height: 95%;
    min-height: 500px;
}
.cabecera{
    height: 5%;
    padding-top: 1%;
    padding-left: 1%;
}

.cuerpo{
    height: 89%;
    display: flex;
    align-items: center; /*los alinea verticalmente*/
    justify-content: center; /*los alinea horizontalmente*/
}
.sign{
    width: 30%;
    height: 80%;
}