.contenido{
    min-height: 87%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #F7F7FF;
}
.contenido > * {
    margin: 2%;
}
#img {
    height: 60vh;
}
.left {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.help {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#t1 {
    font-size: 10vh;
    line-height: 8vh;
    color: #577399;
}
#t2, #t2 *{
    color: #BDD5EA;
}
#t3 {
    color: #577399;
}
#faq {
    width: 100%;
}