<headerItlp></headerItlp>
<!-- Inicio Comp-->
<div class="contenido">
    <img id="img" src="../../../assets/img/helpRobot.png" alt="Help robot">
    <div class="left">
        <div class="help">
            <h1 id="t1">¿Necesitas ayuda?</h1> <br><br>
            <h1 id="t2"><a href="mailto:repoitlp@gmail.com">Envíanos un correo</a> <i class="material-icons">mail</i></h1>
            <br><br>
            <h2 id="t3">o revisa preguntas frecuentes</h2>
        </div>
        <div id="faq">
            <accordionText [title]="'¿Por qué solo se aceptan correos institucionales?'" [textAcc]="'Ya que nuestra plataforma es institucional, está restringida a estudiantes, trabajadores y maestros del ITLP.'"></accordionText>
            <accordionText [title]="'¿Qué tipos de archivos puedo subir?'" [textAcc]="'Cualquier archivo en formato PDF.'"></accordionText>
            <accordionText [title]="'¿Puedo agregar como autor a alguien que no es usuario del sistema?'" [textAcc]="'Sí, al momento de subir un nuevo documento se pueden agregar autores no registrados en el sistema, ya que dar los creditos correspondientes a todos los colaboradores es de suma importancia. Sin embargo, por obvias razones estos no te podrán redirigir a su perfil de usuario.'"></accordionText>
            <accordionText [title]="'¿Por qué debo ingresar tags?'" [textAcc]="'Los tags son importantes porque ayudan a otros usuarios a encontrar documentos que tengan temas relacionados a lo que buscan.'"></accordionText>
        </div>
    </div>
</div>
<!-- Final Comp-->
<footerItlp></footerItlp>
