.subirDoc{
    display: flex;
    flex-direction: column;
    min-height: 87%;
    min-width: 500px;
}
.cuerpo0{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-self:center;
    margin-top: 2%;
}
.cuerpo1{
    align-self: center;
    margin-top: 2%;
    width: 80%;
}
.cuerpo3{
    width: 68%;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-bottom: 2%;
    
}
.desc, .select{
    width: 55%;
    margin: 0 auto;
}
.file,.button{
    width: 100%;
    text-align: center;

}
.cuerpo3{
    width: 68%;

}
.inputT{
    margin-top: 1%;
    text-align: center;
}
.inputTSp{
    margin: 0 auto;
    margin-top: 1%;
    align-content: center;
    text-align: center;
}
.itc1{
    width: 65%;
    margin-left: 5%;
}
.btnc1{
    width: 70%;
    margin:0 auto;
    margin-top: 2%;
}
.special{
    display: flex;
    width: 100%;
    align-self: center;
    align-items: flex-end;
    margin: 0 auto;
    margin-top: 1%
}
.cuerpo2{
    width: 100%;
    display: flex;
    align-self: center;
    margin: 0 auto;
    margin-top: 1%;
}
.btnSel{
    margin-top: 2%;
    text-align: center;
}
#lblAutor{
    text-align: center;
    width: 100%;
    color: #4e5867;
    font-size: 3vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.icon {
    color: #BDD5EA;
    cursor: help;
    font-size: 3vh;
}
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #BDD5EA;
    color: rgb(87,115,153);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #BDD5EA transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }