.d1{
    width: 30%;
    margin-top: 3.5%;
    height: 6%;
}
.d2{
    width: 50%;
    height: 10%;
}
.d3{
    width: 20%;
    margin-top: 3.5%;
    height: 6%;
}
.d1,.d2,.d3{
    float: left;
    align-items: center;
    text-align: center;
}
.lbl{
    color: #495867;
    margin-left: 2%;
}