<!-- Toolbar -->
<section class= "head">
    <div class="left">
        <homeButton (click)="ngRedirectInicio()"></homeButton>
        <a #materias id="materias" (click)="ngOnClick('materias')">Materias</a>
        <a #tags id="tags" (click)="ngOnClick('tags')">Tags</a>
        <a #docs id="docs" (click)="ngOnClick('docs')">Documentos</a>
    </div>
    <div class="userInf">
        <p class="divisorLat">|</p>
        <label id="nusuario"><a #usuario (click)="ngOnClick('usuario')">{{nombre}}</a></label>
        <div class="usrIcon">
            <img #icon id="userIcon" class="icon" src="{{imgIcon}}" (click)="ngOnClick('usuario')">
            <div class="menuUser">
                <label class="editUser" (click)="ngEdit()">Editar usuario <i class="material-icons">edit</i></label>
                <label class="logOut" (click)="ngLogOut()">Cerrar sesión <i class="material-icons" >logout</i></label>
                <label class="help" (click)="ngHelp()">Necesito ayuda <i class="material-icons" >contact_support</i></label>
                <label *ngIf="admin"  (click)="ngBusAdmin()">Eliminar elementos<i class="material-icons" >settings</i></label>
                <label *ngIf="admin"  (click)="ngAddAdmin()">Añadir elementos<i class="material-icons" >settings</i></label>
            </div>
        </div>
        
    </div>
</section>