.head {
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #4e5867;
    color: #b4cce3;
}
.left {
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: 1%;
}
.left a {
    margin-left: 3%;
    cursor: pointer;
}
.userInf {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 4%;
}
.divisorLat {
    font-size: 6vh;
    margin-right: 3vh;
}
#nusuario {
    margin-right: 3vh;
    cursor: pointer;
}
#userIcon {
    width: 6vh;
    height: 6vh;
    background-color: white;
    border-radius: 50%;
    font-size: 5vh;
    text-align: center;
    color: #4e5867;
    cursor: pointer;
}