.head {
    top: 0;
    left: 0;
    right: 0;
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #4e5867;
    color: #b4cce3;
}
button{
    background-color:#4e5867;
    color: #b4cce3;
    border: #4e5867;
}
.spacer {
    flex: 1;
}
#fperfil{
    width:10%;
    height:50%;
    src:"../../assets/usericon.jpg";
}
.libro{
    margin: 0 0.5%;
    background-color: white;
    border-radius: 50px;
    padding: 0.5%;
    color: #495867;
}