<div id="cont">
    <accordionUsr  (click)="ngEsAutor()" [listUsuarios]=autores [listOtros]=otros [otros]=auxOtros (AccEvent)="ngThrowParam($event)"></accordionUsr>
    <accordionText [title]="'Fecha de publicación'" [textAcc]="'01/11/2021'"></accordionText>
    <accordionAut [title]="'Materia'" (click)="ngEsMateria()" [listItems]="[materia]" (AccEvent)="ngThrowParam($event)"></accordionAut>
    <accordionRate [title]="'Rating'"></accordionRate>
    <accordionTagAut [title]="'Tags'"(click)="ngEsTag()" [listTags]=tags (AccEvent)="ngThrowParam($event)"></accordionTagAut>
</div>
