<div id="cont">
    <accordionText [title]="'Información general'" [textAcc]="'Descripción corta sobre el documento'"></accordionText>
    <accordionAut [title]="'Autores'" [listItems]="['Autor 1', 'Autor 2']"></accordionAut>
    <accordionText [title]="'Fecha de publicación'" [textAcc]="'01/11/2021'"></accordionText>
    <accordionTextAut [title]="'Materia'" [textAcc]="'Nombre de la materia'"></accordionTextAut>
    <accordionRate [title]="'Rating'" [num]="5"></accordionRate>
    <accordionTagAut [title]="'Tags'" [listTags]="['Uno', 'Dos', 'Tres', 'Cuatro', 'Cinco']"></accordionTagAut>
</div>
