<headerItlp></headerItlp>
<!--Aquí empieza-->
<section class="content">
    <div class="docContent">
        <div class="docInfo">
            <h2>Título del documento</h2>
            <cardDoc></cardDoc>
            <h3>Resúmen</h3>
            <p class="resumenDoc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore velit inventore asperiores vel est voluptatum recusandae quam ab voluptates, soluta qui quo similique totam rem facilis praesentium nihil id non?</p>
        </div>
        <commentSection></commentSection>
    </div>
    <docSideInfo></docSideInfo>
</section>
<!--Aquí termina-->
<footerItlp></footerItlp>