hr{ 
    border:         none;
    border-left:    1px solid hsla(255, 100%, 100%,255);
    height:         12vh; /*Largo*/
    width:          1px;      
    position: relative; 
    right: 380px;   /*Posición*/
}