.inputText{
    width: 100%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.lbl, .boton{
    width: 100%;
}
.labelit{
    text-align: center;
    width: 100%;
    color: #4e5867;   
}
.txt{
    width: 70%;
    text-align: center;
    border-radius: 50px;
    border:solid  #495867 3px;
    padding: 5px;
    margin-top: 1%;
}