.inputText{
    width: 100%;
    align-items: center;
    text-align: center;
    margin: 1% auto;
}
.lbl, .boton{
    width: 100%;
}
.labelit{
    text-align: center;
    width: 100%;
    font-size: 25px;
    color: #4e5867;
    background-color: white;    
}
.txt{
    width: 70%;
    text-align: center;
    font-size: 25px;
    border-radius: 50px;
    border:solid  #495867 3px;
    padding: 0.5%;
    margin-top: 1%;
}