:root {
    --gray-blue: #495867;
    --dark-blue: #577399;
    --light-blue: #BDD5EA;
    --white-ish: #F7F7FF;
}
.acc {
    margin: 5px;
}
.title {
    color: #495867;
}

.center {
    padding-top: 1%;
    margin: 0 auto;
    text-align: center;
    color: #577399;
}