.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8%;
    display: flex;
    align-items: center;
    background-color: #4e5867;
    color: #b4cce3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
button{
    background-color:#4e5867;
    color: #b4cce3;
    border: #4e5867;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.spacer {
    flex: 1;
}

#finicio{
    width:40px;
    height:40px;
    src:"../../assets/libroicon.jpg";
}
#fperfil{
    width:40px;
    height:40px;
    src:"../../assets/usericon.jpg";
}
