:root {
    --gray-blue: #495867;
    --dark-blue: #577399;
    --light-blue: #BDD5EA;
    --white-ish: #F7F7FF;
}
.docCard {
    margin: 10px;
    width: 150px;
    height: 150px;
    cursor: pointer;
}
.content {
    width: 80px;
    height: 80px;
}
.nameTitle {
    width: 98%;
}
.docTitle {
    width: 100%;
    color: #577399;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}