<headerItlp></headerItlp>
<!--Aquí empieza-->
<section class="content">
    <div class="docContent">
        <div class="docInfo">
            <div class="edit">
                <h2>{{titulo}}</h2>
                <i class="material-icons" (click)=ngOnEdit($event)>edit</i>
            </div>
            <cardDoc [docName]=titulo [id]=idDoc (click)="ngClickCard()"></cardDoc>
            <i id="cancel" class="material-icons" (click)=ngOnDelete($event)>cancel</i>
            <div class="edit">
                <h3>Resúmen</h3>
                <i class="material-icons" (click)=ngOnEdit($event)>edit</i>
            </div>
            <p class="resumenDoc">{{descripcion}}</p>
        </div>
        <commentSection></commentSection>
    </div>
    <docSideInfoAut (AccEvent)="ngClickAcc($event)"></docSideInfoAut>
</section>
<!--Aquí termina-->
<footerItlp></footerItlp>