<headerItlp></headerItlp>
<!--Aquí empieza-->
<section class="content">
    <div class="docContent">
        <div class="docInfo">
            <div class="edit">
                <h2>Título del documento</h2>
                <i class="material-icons" (click)=ngOnEdit($event)>edit</i>
            </div>
            <cardDoc></cardDoc>
            <i id="cancel" class="material-icons" (click)=ngOnDelete($event)>cancel</i>
            <div class="edit">
                <h3>Resúmen</h3>
                <i class="material-icons" (click)=ngOnEdit($event)>edit</i>
            </div>
            <p class="resumenDoc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore velit inventore asperiores vel est voluptatum recusandae quam ab voluptates, soluta qui quo similique totam rem facilis praesentium nihil id non?</p>
        </div>
        <commentSection></commentSection>
    </div>
    <docSideInfoAut (AccEvent)="ngClickAcc($event)"></docSideInfoAut>
</section>
<!--Aquí termina-->
<footerItlp></footerItlp>