:root {
    --gray-blue: #495867;
    --dark-blue: #577399;
    --light-blue: #BDD5EA;
    --white-ish: #F7F7FF;
}

.document {
    background-color: #F7F7FF;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerDoc {
    margin-left: 2%;
    margin-top: 2%;
    width: 95%;
    display: flex;
    align-items: center;
}
#return {
    background-color: transparent;
    border:none;
    cursor: pointer;
}
#return i {
    font-size: 6vh;
}
h2 {
    margin-left: 2%;
    color: #495867;
}
.docCont {
    display: flex;
}
.doc {
    width: 97%;
    height: 86.5%;
    position: relative;
}
.pdf {
    width: 99%;
    height: 98%;
    border-color:#577399;
    border-style: solid;
    border-width: 4px;
    border-radius: 3vh;
}
.barra {
    width: 99%;
    height: 44px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    border-radius: 3vh 3vh 0 0;
    background-color: #577399 ;
    border-color:#577399;
    border-style: solid;
    border-width: 4px;
}


/* scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #F7F7FF;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #8294a7
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #495867; 
  }