:root {
    --gray-blue: #495867;
    --dark-blue: #577399;
    --light-blue: #BDD5EA;
    --white-ish: #F7F7FF;
}
#commentSection{
    width: 99%;
}
h2{
    color: #577399;
}
.comHistory {
    background-color: aqua;
}
