:root {
    --gray-blue: #495867;
    --dark-blue: #577399;
    --light-blue: #BDD5EA;
    --white-ish: #F7F7FF;
}
.component{
    align-items: center;
    text-align: center;
    margin:0 auto;
}
.search {
    width: 90%;
    outline-color: #495867;
    outline-width: 3px;
    outline-style: solid;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}
.search input {
    margin-left: 5%;
    border-style: hidden;
    width: 75%;
}
.search input:focus {
    outline: none;
}
.search p {
    margin-top: 4px;
    font-weight: 900;
    color: #BDD5EA;
}
.icon {
    font-weight: 900;
    cursor: pointer;
    width: 10%;
    margin-right: 1.2vh;
    color: #495867;
    padding-left: 2%;
}
.icon:hover {
    color: #577399;
}