<headerItlp></headerItlp>
<!-- Inicio Comp-->
<searchBar id="bar"></searchBar>
<section id="body">
    <sideNav></sideNav>
    <div id="content">
        <div id="upload">
            <div id="textUp">
                <h2>¿Tienes algo qué aportar?</h2>
                <h3>Sube tu documento ahora</h3>
            </div>
            <buttonIcon id="subirBtn"></buttonIcon>
        </div>
        <div id="cards">
            <gridCards></gridCards>
        </div>
    </div>
</section>
<!-- Final Comp-->
<footerItlp></footerItlp>
