<section class="container">
    <headerLine [title]="'Últimos aportes'"></headerLine>
    <div class="grid"> 
        <docMini [autorName]="'Nombre del autor'" [docTitle]="'Título del doc'"></docMini>
        <docMini [autorName]="'Nombre del autor'" [docTitle]="'Título del doc'"></docMini>
        <docMini [autorName]="'Nombre del autor'" [docTitle]="'Título del doc'"></docMini>
        <docMini [autorName]="'Nombre del autor'" [docTitle]="'Título del doc'"></docMini>
        <docMini [autorName]="'Nombre del autor'" [docTitle]="'Título del doc'"></docMini>
        <docMini [autorName]="'Nombre del autor'" [docTitle]="'Título del doc'"></docMini>
        <docMini [autorName]="'Nombre del autor'" [docTitle]="'Título del doc'"></docMini>
        <docMini [autorName]="'Nombre del autor'" [docTitle]="'Título del doc'"></docMini>
        <docMini [autorName]="'Nombre del autor'" [docTitle]="'Título del doc'"></docMini>
        <docMini [autorName]="'Nombre del autor'" [docTitle]="'Título del doc'"></docMini>
        <docMini [autorName]="'Nombre del autor'" [docTitle]="'Título del doc'"></docMini>
        <docMini [autorName]="'Nombre del autor'" [docTitle]="'Título del doc'"></docMini>
    </div>
</section>
