#signupcontainer{
    border-radius: 50px;
    border:solid  #495867 3px;
    width: 99%;
    height: fit-content;
    background-color: white;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.boton{
    width: 100%;
    margin:1%;
}