<div id="signupcontainer">
    <inputText [texto]="'Nombre Usuario'" id="inputs" class="imputs"></inputText>
    <inputText [texto]="'Nombre'" class="inputs"></inputText>
    <inputText [texto]="'Apellidos'" class="inputs"></inputText>
    <inputText [texto]="'Correo'" class="inputs"></inputText>
    <inputText [texto]="'Contraseña'" class="inputs"></inputText>
    <inputText [texto]="'No. Control'" class="inputs"></inputText>
    <div class="boton">
        <buttonReg [texto]="'SignUp'" id="btnreg" ></buttonReg>
    </div>
</div>