<div id="signupcontainer">
    <div class="cuerpo1"><inputText [texto]="'Nombre Usuario'" id="inputs" class="imputs"></inputText></div>
    <div class="cuerpo2"><inputText [texto]="'Nombre'" class="inputs"></inputText></div>
    <div class="cuerpo3"><inputText [texto]="'Apellidos'" class="inputs"></inputText></div>
    <div class="cuerpo4"><inputText [texto]="'Correo'" class="inputs"></inputText></div>
    <div class="cuerpo5"><inputText [texto]="'Contraseña'" class="inputs"></inputText></div>
    <div class="cuerpo6"><inputText [texto]="'No. Control'" class="inputs"></inputText></div>
    <div class="cuerpo7"><buttonReg [texto]="'SignUp'" id="btnreg" ></buttonReg></div>
</div>