<mat-expansion-panel class="acc">
    <mat-expansion-panel-header>
      <div class="edit">
        <mat-panel-title class="title">
          {{title}}
        </mat-panel-title>
        <i class="material-icons" #i (click)="ngOnEdit($event)">edit</i>
      </div>
    </mat-expansion-panel-header>
    <divider [color]="'light'" class="divider"></divider>
    <ul class="list">
      <li *ngFor="let item of listItems"><a #a (click)="ngOnClick($event)">{{item}}</a></li>
  </ul>
  </mat-expansion-panel>