.comp{
    align-items: center;
    text-align:center;
    margin: 10px;
    width: 200px;
    height: fit-content;
    margin: 0 auto;
}
.boton{
    margin-top:3%;
}
.card {
    height: fit-content;
}
.del{
    color: #f5f5f5;
    background-color: rgb(249,95,98);
}