.cuerpo1{
    margin: 0 auto;
    align-items: center;
    margin-top: 2%;
    width: 95%;
}
.cuerpo2,.cuerpo3{
    margin: 0 auto;
    align-items: center;
    text-align: center;
    margin-top: 2%;
    width: 68%;
    height: 190px;
}
.desc, .select{
    width: 50%;
    float: left;
}
.file,.button{
    width: 50%;
    float: left;
}
.cuerpo3{
    height: 50px;
}