#btnreg{
    background-color: #577399;
    color: white;
    border: #577399;
    border-radius: 50px;
    border-bottom:solid  #495867 5px;
    padding: 0.5% 10%;
    cursor: pointer;
}

#btnreg:hover {
    background-color: #6987b3;
    color: rgb(240, 238, 238);
}
#btnreg:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
    margin-bottom: 5px;
}