.contenedor{
    display: flex;
    flex-direction: column;
    overflow: auto;
    min-height: 87%;
}

.cuerpo2{
    display: flex;
    justify-content: center;

    width: 80%;
}
#1{
    width: 100%;
}
.cuerpo1{
    width: 99%;
    align-self: center;
    border-color: #495867;
    border-width: 3px;
    border-style: solid;
    margin-top: 0.1%;
}
.cuerpo3{
    width: 95%;
    display: flex;
    align-self: center;
}
#grid{
    width: 100%;
}