<div id="signupcontainer">
    <app-input-text [texto]="'Nombre Usuario'" id="imputs"></app-input-text>
    <app-input-text [texto]="'Nombre'" class="imputs"></app-input-text>
    <app-input-text [texto]="'Apellidos'" class="imputs"></app-input-text>
    <app-input-text [texto]="'Correo'" class="imputs"></app-input-text>
    <app-input-text [texto]="'Contraseña'" class="imputs"></app-input-text>
    <app-input-text [texto]="'No. Control'" class="imputs"></app-input-text>
    <app-button-reg [texto]="'SignUp'" id="btnreg"></app-button-reg>
</div>