#busquedaespecifica{
    margin-left: 20px;
}
.ddl{   
    font-size: 20px;
    width: 300px;
    float: left;
}
p{
    font-size: 35px;
    color: #577399;
}

#divisorbusqueda{
    color: #BDD5EA;
    margin-bottom: 5px;
    border-width: 5px;
    border-color: #577399;
    border-style: solid;
    width: 90%;
}

#busqueda{
    width: 40%;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 50px;
    border: 1px solid black;
    padding-left: 15px;
    float: left;
    margin-top: 15px;
    margin-left: 30px;
}

#btnreg{
    background-color: #577399;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border: #577399;
    border-radius: 10%;
    width: 100px;
    height: 40px;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
}