:root {
    --gray-blue: #495867;
    --dark-blue: #577399;
    --light-blue: #BDD5EA;
    --white-ish: #F7F7FF;
}
.bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-color: #495867;
    background-color: white;
    border-width: 3px;
    border-style: solid;
    height: 5%;
}
.bar h2 {
    margin-top: 1%;
    color: #577399;
}