:root {
    --gray-blue: #495867;
    --dark-blue: #577399;
    --light-blue: #BDD5EA;
    --white-ish: #F7F7FF;
}
.com {
    width: 95%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 5%;
}
.material-icons {
    font-size: 6vh;
    color: #577399;
}
.commentContent {
    width: 90%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
}
.commentHead {
    display: flex;
}
.commentHead h3 {
    color: #495867;
}
.commentHead h4 {
    margin-left: 3%;
    color: #BDD5EA;
}
.commentText {
    line-height: 3vh;
    color: #577399;
}
a {
    cursor: pointer;
}