div{
    width: 100%;
}

table, tr, td{
    table-layout:fixed;
}
#perfil{
    vertical-align: top;
}

#nombret{
    text-align: start;
    height: -50px;
}


#fotoperfil{
    width: 90%;
    height: 90%;
    margin: 5% 5%;
}

p{
    color: #47525E;
}
#comentario{
    color: #8190A5;
}