<div class="com">
    <i class="material-icons">account_circle</i>
    <div class="commentContent">
        <div class="commentHead">
            <h3>Nombre Usuario</h3>
            <h4>01/11/2021</h4>
        </div>
        <p class="commentText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, natus dolorem libero nam et officia error explicabo eos beatae iure dolore inventore suscipit qui reiciendis corrupti fugit facilis! Repudiandae minima accusantium voluptatem aliquid fugit aspernatur asperiores ex minus possimus natus facere ipsam et sed amet facilis a, assumenda eveniet earum!</p>
        <divider [color]="'light'"></divider>
    </div>
</div>
