:root {
    --gray-blue: #495867;
    --dark-blue: #577399;
    --light-blue: #BDD5EA;
    --white-ish: #F7F7FF;
}
.com {
    width: 95%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 5%;
}
.imgIcon {
    width: 8vh;
    height: 8vh;
    background-color: #BDD5EA;
    border-radius: 50%;
}
.commentContent {
    width: 90%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
}
.commentHead {
    display: flex;
}
.commentHead h3 {
    color: #495867;
}
.commentHead h4 {
    margin-left: 3%;
    color: #BDD5EA;
}
.commentText {
    line-height: 3vh;
    color: #577399;
}
a {
    cursor: pointer;
}
.icon {
    color: #495867;
    cursor: help;
}
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #BDD5EA;
    color: rgb(87,115,153);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #BDD5EA transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }