<div class="contenedor">
    <div class="contIzq">
        <div>
            <!--<i class="Redimension" id="userIcon" class="material-icons">person_outline</i> -->
            <img class="Redimension" src="{{img}}">
        </div>
        <div class="contText">
            <div class="NombreU">
                <h2>{{nombre}}</h2> 
                <div class="tooltip">
                    <i class="material-icons icon" matTooltip="Info about the action">{{iconRol}}</i>
                    <span class="tooltiptext">{{ttt}}</span>
                </div>
            </div>
            <div class="NombreP">
                <h3>{{rol}}</h3>
            </div>
            <div class="NombreI">
                <h3>ITLP</h3>
            </div>
        </div>
    </div>
    <div class="contDer">
        <div class="Linea">
            <verticalDivisor></verticalDivisor>
        </div>
        <div class="contText2">
            <div class="Correo">
                <h3>{{correo}}</h3>
            </div>
            <div class="NoControl">
                <h3>{{id}}</h3>
            </div>
        </div>
    </div>
</div>