.contenedor{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: rgb(87,115,153);
    width: 100%;
    height: 20%;
/*    margin: 0 auto; */
}
.contIzq{
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-top: 0%;
}
.contText{
    display: flex;
    flex-direction: column;
}
.contText2{
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    margin-top: 0%;
}
.contDer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
}
.Redimension{
    max-width:130px;
    max-height:130px;
}
.NombreU{
    color: white;
}
.NombreP{
    color: #495867;

}
.NombreI{
    color: whitesmoke;

}
.Correo{
    color: whitesmoke;

}
.NoControl{
    color: whitesmoke;
}
.Linea{
    position: relative;
    left: 100%;
}