.contenedor{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: rgb(87,115,153);
    width: 100%;
    height: 20%;
    padding-top: 2%;
    padding-bottom: 1%;
}
.contIzq{
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-top: 0%;
    width: 70%;
}
.contText{
    width: 80%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}
.contText2{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 0%;
}
.contDer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
    height: 95%;
}
.Redimension{
    max-width:150px;
    max-height:150px;
    margin-right: 2%;
    background-color: #BDD5EA;
    border-radius: 50%;
    border: 3px solid whitesmoke;
}
.NombreU{
    color: white;
    display: flex;
    flex-direction: row;
}
.NombreP{
    color: #BDD5EA;

}
.NombreI{
    color: whitesmoke;

}
.Correo{
    color: whitesmoke;

}
.NoControl{
    color: whitesmoke;
}
.Linea{
    margin-right: 20%;
}
i {
    cursor: help;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #BDD5EA;
    color: rgb(87,115,153);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #BDD5EA transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }