.contenedor{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: rgb(87,115,153);
    width: 100%;
    height: 20%;
/*    margin: 0 auto; */
}
.contIzq{
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-top: 0%;
}
.contText{
    display: flex;
    flex-direction: column;
}
.contText2{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 0%;
}
.contDer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
}
/*
#userIcon{
    width: 15vh;
    height: 15vh;
    background-color: white;
    border-radius: 50%;
    font-size: 15vh;
    text-align: center;
    color: #4e5867;
    cursor: pointer;
*/
.Redimension{
    
    max-width:150px;
    max-height:150px;
    margin-right: 2%;

}
.NombreU{
    color: white;
}
.NombreP{
    color: #495867;

}
.NombreI{
    color: whitesmoke;

}
.Correo{
    color: whitesmoke;

}
.NoControl{
    color: whitesmoke;
}
.Linea{
    position: relative;
    left: 100%;
}