<div class="contenedor">
    <div class="contIzq">
        <div>
            <img class="Redimension" src="../../../assets/images/PP.png">
        </div>
        <div class="contText">
        <div class="NombreU">
            <h1>Nombre usuario</h1>
        </div>
        <div class="NombreP">
            <h2>Puesto</h2>
        </div>
        <div class="NombreI">
            <h2>ITLP</h2>
        </div>
    </div>
</div>
    <div class="contDer">
        <div class="Linea">
            <verticalDivisor></verticalDivisor>
        </div>
        <div class="contText2">
            <div class="Correo">
                <h2>correo@itlp.com</h2>
            </div>
            <div class="NoControl">
                <h2>Número de control</h2>
            </div>
        </div>

    </div>
</div>