.contenedor{
    width: 850px;
/*    margin: 0 auto; */
}
.encabezado{
    background-color: rgb(87,115,153);
    height: 150px;
}
.Redimension{
    max-width:130px;
    max-height:130px;
    vertical-align: middle;
    position: relative;
    left: 60px;
    top: 10px;
}
.NombreU{
    color: white;
    position: relative;
    left: 220px;
    bottom: 110px;
}
.NombreP{
    color: #495867;
    position: relative;
    left: 220px;
    bottom: 120px;
}
.NombreI{
    color: whitesmoke;
    position: relative;
    left: 220px;
    bottom: 130px;
}
.Correo{
    color: whitesmoke;
    position: relative;
    left: 630px;
    bottom: 355px;
}
.NoControl{
    color: whitesmoke;
    position: relative;
    left: 630px;
    bottom: 355px;
}
.Linea{
    position: relative;
    left: 550px;
    bottom: 250px;
}