<div id="cont">
  <sideNav></sideNav>
  <searchBar></searchBar>
  <tagGrid></tagGrid>
  <gridCards></gridCards>
  <div style="width:300px;">
    <accordion></accordion>
  </div>
  
  <docInfo [tit]="'Titulo del documento'" [desc]="'Esta es mi descripcion'"></docInfo>
  <selectDropDown [ops]="['Opcion1','Opcion2','Opcion3']"></selectDropDown>
  <adminAdd [ops]="['Opcion1','Opcion2','Opcion3']"></adminAdd>
  <largeInputText></largeInputText>
  <rating></rating>
  <returnButton></returnButton>
  <uploadFile></uploadFile>
</div>
