.libro{
    width: 5vh;
    height: 5vh;
    background-color: white;
    border-radius: 50%;
    padding: 0.5%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
i {
    color: #495867;
    font-size: 4vh;
}