.contenido{
    height: 87%;
    overflow: auto;
}

.contenido2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 4%;
    justify-content: space-around;
}

.seccion1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 20%;
    margin-left: 5%;
}
.seccion2{
    display: flex;
    justify-content:center;
    width: 60%;
}

.seccion3{
    display: flex;
    justify-content:center;
    width: 20%;
    margin-right: 5%;
}

.texto1{
    color: rgb(87, 115, 153);
}

.texto2{
    color: rgb(73, 88, 103);
}