<headerItlp></headerItlp>
<!-- Inicio Comp-->
<div class="contenido">
    <userInfo [usuario]=usuario></userInfo>
    <section class="contenido2">
        <div class="seccion1">
            <div class="subsection1">
                <h1 class="texto1">Acerca de mí:</h1>
                <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
                <p></p>
                <p></p>
                <h1 class="texto2">Aparece en:</h1>
                <h1 class="texto1">10</h1>
                <p></p>
                <h1 class="texto2">Comentarios:</h1>
                <h1 class="texto1">10</h1>
            </div>
            <div class="subsection2"><hr></div>
        </div>
        <div class="seccion2">
            <gridCards [title]="'Mis documentos'"></gridCards>
        </div>
    </section>
</div>
<!-- Final Comp-->
<footerItlp></footerItlp>
