.contenido{
    height: 87%;
}

.contenido2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.seccion1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 20%;
}

.seccion2{
    display: flex;
    justify-content:center;
    width: 60%;
}

.seccion3{
    display: flex;
    justify-content:center;
    width: 20%;
}

.texto1{
    color: rgb(87, 115, 153);
}

.texto2{
    color: rgb(73, 88, 103);
}