<div id="cont">
    <accordionUsr [listUsuarios]=autores [listOtros]=otros (click)="ngEsAutor()" (AccEvent)="ngThrowParam($event)"></accordionUsr>
    <accordionText [title]="'Fecha de publicación'" [textAcc]="'01/11/2021'"></accordionText>
    <accordion [title]="'Materia'" [listItems]="[materia]" (click)="ngEsMateria()" (AccEvent)="ngThrowParam($event)"></accordion>
    <accordionRate [title]="'Rating'"></accordionRate>
    <accordionTag [title]="'Tags'" [listTags]=tags (click)="ngEsTag()" (AccEvent)="ngThrowParam($event)"></accordionTag>
</div>