<div id="cont">
    <accordionText [title]="'Información general'" [textAcc]="'Descripción corta sobre el documento'"></accordionText>
    <accordion [title]="'Autores'" [listItems]="['Autor 1', 'Autor 2']"></accordion>
    <accordionText [title]="'Fecha de publicación'" [textAcc]="'01/11/2021'"></accordionText>
    <accordionText [title]="'Materia'" [textAcc]="'Nombre de la materia'"></accordionText>
    <accordionRate [title]="'Rating'"></accordionRate>
    <accordionTag [title]="'Tags'" [listTags]="['Uno', 'Dos', 'Tres', 'Cuatro', 'Cinco']"></accordionTag>
</div>
