<div id="logincontainer">
    <div class="cuerpo1">
        <inputText (ITEvent)="ngRecibirUsuario($event)"[text]="'Nombre Usuario'" class="inputs"></inputText>
    </div>
    <div class="cuerpo2">
        <inputText (ITEvent)="ngRecibirContrasena($event)" [tipo]="'password'" [text]="'Contraseña'" class="inputs"></inputText>
    </div>
    <div class="cuerpo3">
        <buttonReg (click)="ngEnviarDatos()"[text]="'Login'"></buttonReg>
    </div>
    <label (click)="ngShowRegistro()" id="lcuenta">¿No tienes una cuenta? Ingresa Aquí</label><br>
</div>