:root {
    --gray-blue: #495867;
    --dark-blue: #577399;
    --light-blue: #BDD5EA;
    --white-ish: #F7F7FF;
}
#body {
    min-height: 82%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #F7F7FF;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    width: 100%;
    height: 100%;
}
#bar {
    width: 100%;
}
.cards{
    display: flex;
    width: 100%;
    justify-content: center;
}