.example-card{
    min-height: 100px;
    max-width: 160px;
    text-align: center;
    margin: 10px;
    height: fit-content;
    cursor: pointer;
}
.c {
    width: 100%;
}
p {
    width: 100%;
    overflow: grow;
}