.comentarios{   
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-left: 20px;
}
#addcomen{
    width: 500px;
    margin-left: 10px;
    resize: vertical;
    min-height: 50px;
}

