.contenido{
    min-height: 80%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 1%;
    padding: 2%;
}
.texto1{
    color: rgb(87, 115, 153);
}
.texto2{
    color: #577399;
}
.texto3{
    color: rgb(71,82,94);
}
.desarrolladores{
    display: flex;
    justify-content: space-around;
}
.des{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    margin-bottom: 3%;
}