<headerItlp></headerItlp>
<!-- Inicio Comp-->
<div class="contenido">
    <h1 class="texto1">Acerca de nosotros</h1>
    <divider></divider>
    <h1 class="texto2">Información sobre la institución</h1>
    <h2 class="texto3">El Tecnológico Nacional de México está constituido por 254 instituciones, de las cuales 126 son Institutos Tecnológicos Federales, 122 Institutos Tecnológicos Descentralizados, cuatro Centros Regionales de Optimización y Desarrollo de Equipo (CRODE), un Centro Interdisciplinario de Investigación y Docencia en Educación Técnica (CIIDET) y un Centro Nacional de Investigación y Desarrollo Tecnológico (CENIDET). En estas instituciones, el TecNM atiende a una población escolar de más de 600 mil estudiantes en licenciatura y posgrado en todo el territorio nacional, incluida la Ciudad de México.</h2>
    <h1 class="texto2">¿Quienes somos y que hacemos?</h1>
    <h2 class="texto3">Somos estudiantes de la carrera de Ingeniería en Sistemas Computacionales del Tecnológico de México campus La Paz, estamos proximos a egresar y nos gustaría contribuir dejando un repositorio para las futuras generaciones el cual pueda ser consultado teniendo la certeza de  que la información que se encuentra dentro del mismo es confiable.</h2>
    <h1 class="texto2">Desarrolladores</h1>
    <section class="desarrolladores">
        <div class="des">
            <devCard class="card" (click)="ngDev('1')" [name]="'Alfonso Rochín'" [imgUrl]="'../../../assets/img/rochin.jpg'"></devCard>
            <h2 class="texto3">It can be fixed on the road 🍷</h2>
        </div>
        <div class="des">
            <devCard class="card" (click)="ngDev('2')" [name]="'María Fernanda Cota'" [imgUrl]="'../../../assets/img/mafer.jpg'"></devCard>
            <h2 class="texto3">Just give me my coffee! ☕</h2>
        </div>
        <div class="des">
            <devCard class="card" (click)="ngDev('3')" [name]="'Juan Carlos Valadez'" [imgUrl]="'../../../assets/img/juan.jpg'"></devCard>
            <h2 class="texto3">Cheers!! 🍻</h2>
        </div>
    </section>
</div>
<!-- Final Comp-->
<footerItlp></footerItlp>
