<headerItlp></headerItlp>
<!-- Inicio Comp-->
<div class="contenido">
    <h1 class="texto1">Acerca de nosotros</h1>
    <divider></divider>
    <h1 class="texto2">Información sobre la institución</h1>
    <h2 class="texto3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque reprehenderit voluptate quaerat obcaecati corrupti deserunt voluptatibus nihil perspiciatis error maxime iste, delectus velit sunt sit! Iure, adipisci dolorem nihil, qui quis alias eaque beatae mollitia ullam asperiores sit ipsam? Eos, doloribus repudiandae dolor porro veritatis hic aliquid quisquam cupiditate, deleniti iure laudantium aliquam beatae provident tenetur illo! Pariatur corporis doloribus eum quae maxime sint ratione animi! Dignissimos maxime nobis eligendi culpa repudiandae laborum minus quos soluta unde velit voluptates, aliquid animi vitae sed reprehenderit non? Laborum molestiae dolor maxime, accusamus maiores rem ab vero eum provident nam placeat expedita perferendis.</h2>
    <h1 class="texto2">¿Quienes somos y que hacemos?</h1>
    <h2 class="texto3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptatum ex quas voluptatibus aperiam odio ut aspernatur nostrum dolor omnis! Quidem distinctio est, nostrum ullam vitae iure corrupti necessitatibus illum nisi explicabo veniam voluptas accusamus, quis beatae quasi dolorum! Accusamus, laboriosam. Sapiente neque amet molestiae, accusamus magnam animi sed eum!</h2>
    <h1 class="texto2">Desarrolladores</h1>
    <section class="desarrolladores">
        <div class="des">
            <devCard class="card"></devCard>
            <h2 class="texto3">Lorem, ipsum.</h2>
        </div>
        <div class="des">
            <devCard class="card"></devCard>
            <h2 class="texto3">Lorem, ipsum dolor.</h2>
        </div>
        <div class="des">
            <devCard class="card"></devCard>
            <h2 class="texto3">Lorem ipsum dolor sit.</h2>
        </div>
    </section>
</div>
<!-- Final Comp-->
<footerItlp></footerItlp>
