<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="title">
          Temas populares
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <ul class="list">
        <li><a href="">Tema</a></li>
        <li><a href="">Tema</a></li>
        <li><a href="">Tema</a></li>
        <li><a href="">Tema</a></li>
        <li><a href="">Tema</a></li>
        <li><a href="">Tema</a></li>
    </ul>
  
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="title">
            Mejores calificados
          </mat-panel-title>
        </mat-expansion-panel-header>
    
        <ul class="list">
            <li><a href="">Documento</a></li>
            <li><a href="">Documento</a></li>
            <li><a href="">Documento</a></li>
            <li><a href="">Documento</a></li>
            <li><a href="">Documento</a></li>
            <li><a href="">Documento</a></li>
        </ul>
    
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="title">
            Últimos tags
          </mat-panel-title>
        </mat-expansion-panel-header>
    
        <tagGrid></tagGrid>
    
      </mat-expansion-panel>
  </mat-accordion>