:root {
    --gray-blue: #495867;
    --dark-blue: #577399;
    --light-blue: #BDD5EA;
    --white-ish: #F7F7FF;
}
.title {
    font-size: 18px;
    color: #495867;
}
.list {
    list-style-type: none;
}
.list li {
    font-size: 16px;
}
.list li a {
    text-decoration: none;
    color: #577399;
}