#barrabusqueda{
    margin: 0px;
    padding: 0px;
    border: 3px #495867 solid;
    width: 100%;
    padding: 10px;
    display: flex;    
    justify-content:space-between;
    flex-wrap:  wrap;
    align-items:center;
}
#buscar{
    display: flex;    
    justify-content:space-evenly;
}
p{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    color: #577399;
    margin-right: 20px;
    margin-left: 20px;
}
#busqueda{
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    color: #577399;
    margin-right: 10px;
}
