#barrabusqueda{
    border: 3px #495867 solid;
    width: 99%;
    margin: 0.5% auto;
    height: 55px;
}
#buscar{
    width: 100%;
}
#buscar .norm{
    color: #577399;
    width:15%;
    text-align: center;
    float: left;
    margin: 1% 1%;
}
.busqueda{
    color: #577399;
    width: 19%;
    float: left;
    margin: 1% 0;
    margin-left: 1%;
}
.boton{
    width: 11%;
    float: left;
    margin-top: 0.5%;
}
