#barrabusqueda{
    border: 3px #495867 solid;
    width: 99%;
    display: flex;    
    justify-content:space-between;
    flex-wrap:  wrap;
    align-items:center;
    text-align: center;
    margin: 0 auto;
}
#buscar{
    display: flex;    
    justify-content:space-evenly;
}
p{
    font-size: 20px;
    color: #577399;
    margin: 1% 10%;
}
#busqueda{
    margin: 1% 1%;
    font-size: 30px;
    color: #577399;
    margin-right: 10%;
}
.boton{
    margin: 1% 1%;
}
