<mat-expansion-panel class="acc">
    <mat-expansion-panel-header>
      <div class="edit">
        <mat-panel-title class="title">Autores</mat-panel-title>
        <i *ngIf="autor" class="material-icons">edit</i>
      </div>
    </mat-expansion-panel-header>
    <divider [color]="'light'" class="divider"></divider>
    <ul class="list">
      <li *ngFor="let usuario of listUsuarios">
        <div class="tooltip">
            <i class="material-icons icon" matTooltip="Acerca de">{{rolIcon[usuario.fk_rol]}}</i>
            <span class="tooltiptext">{{ttt[usuario.fk_rol]}}</span>
        </div>
            <a #a (click)="ngOnClickUsr($event)">{{usuario.nombre}}</a>
        </li>
    </ul>
    <div *ngIf="otros" class="otrosDiv">
      <br>
      <mat-panel-title class="title">Otros autores</mat-panel-title>
      <divider [color]="'light'" class="divider"></divider>
      <ul class="list2">
        <li *ngFor="let otro of listOtros">{{otro.nombre}}</li>
      </ul>
    </div>
  </mat-expansion-panel>
