.tarjetadev{
    width: fit-content;
    height: fit-content;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
#foto{
    margin: 10px;
    width: 150px;
    height: 150px;
}

p{
    color: #47525E;
    margin: 0px;
}