.center{
    margin:0 auto;
    text-align: center;
    width: 100%;
}
.txt{
    width: 90%;
    text-align: center;
    font-size: 25px;
    border-radius: 50px;
    border:solid  #495867 3px;
    padding: 1%;
}
.lbl{
    color: #495867;
    font-size: 30px;
}