<section class="collapsible">
    <input type="checkbox" id="menu">
    <label for="menu"></label>
    <div class="menuContent">
        <section class="accList">
            <accordion [title]="'Materias'" [listItems]="['uno', 'dos', 'tres', 'cuatro']"></accordion>
            <accordion [title]="'Temas'" [listItems]="['uno', 'dos', 'tres', 'cuatro']"></accordion>
            <accordion [title]="'Tags'" [listItems]="['uno', 'dos', 'tres', 'cuatro']"></accordion>
        </section>
        <section class="more">
            <h2>Ayuda <mat-icon>help</mat-icon></h2>
            <h2>Acerca de nosotros <mat-icon>info</mat-icon></h2>
        </section>
    </div>
</section>
