<section class="collapsible">
    <input type="checkbox" id="menu">
    <label for="menu"></label>
    <div class="menuContent">
        <section class="accList">
            <accordion [title]="'Tags'" [listItems]=tags (click)="ngEsTag()" (AccEvent)="ngThrowParam($event)"></accordion>
            <accordion [title]="'Materias'" [listItems]=materias (click)="ngEsMateria()" (AccEvent)="ngThrowParam($event)"></accordion>
            <!--<accordion [title]="'Carreras'" [listItems]="['uno', 'dos', 'tres', 'cuatro']" (AccEvent)="ngThrowParam($event)"></accordion>-->
        </section>
        <section class="more">
            <h3 (click)="ngRedirectHelp()"> Ayuda <i class="material-icons">help</i></h3>
            <h3 (click)="ngRedirectAboutUs()">Acerca de nosotros <i class="material-icons">info</i></h3>
        </section>
    </div>
</section>
